* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", serif;
}

/* Shared Styles */

.fixed-size {
  width: 1160px;
  margin: 0 auto;
}

.nav-links li:hover{
  background: #000;
}

.black {
  color: #111111;
}

.orange {
  color: #FEA301;
}

.sky-blue {
  color: #01ACFD;
}

.cyan {
  color: #05D4DF;
}

.blue-medium {
  color: #5D58EF;
}

/* Start Header Sectiontart */

.navber {
  margin-top: 20px;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.heading-1 {
  color: #111111;
  font-size: 2rem;
  font-weight: 700;
}

.nav-links,
ul,
li {
  display: flex;
  gap: 32px;
}

.nav-links ul,
li {
  list-style: none;
}

.nav-links ul,
li:first-child a {
  font-weight: 700;
}

ul,
li,
a {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 500;
}

.btn-1 {
  color: #FFFFFF;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 15px 60px;
  border-radius: 12px;
  border: none;
  background-color: #FEA301;
}
.btn-1:hover{
  color: #FEA301;
  background-color: black;
}

.bars {
  display: none;
}

.hr {
  display: none;
}

/* marquee tag */

.marquee {
  font-size: 1.30rem;
  font-weight: 700;
  margin-top: 30px;
  color: #FEA301;
  scrollamount: 15;
}

/* Start Banner Section */

.banner {
  margin-top: 30px;
}

.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-items {
  margin-right: 50px;
}

.heading-2 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 60px;
}

.paragraph-1 {
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: 24px;
}

.br1 {
  display: none;
}

.btn-2 {
  color: #FFFFFF;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 15px 60px;
  border-radius: 12px;
  border: none;
  background-color: #111111;
  margin-top: 24px;
}
.btn-2:hover{
  background-color: #FEA301;
}
.img {
  max-width: 100%;
}

/* End Banner Section */

/* Start Standard Curriculum Section */

.curriculum {
  width: 100%;
  height: 769px;
  background-image: url('../assets/bg.png');
}

.curriculams {
  margin-top: 100px;
}

.heading-3 {
  margin-top: 60px;
  margin-bottom: 80px;
  text-align: center;
  color: #000000 font-size: 2.875rem;
  font-weight: 700;
}

.box-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-1 {
  height: 141px;
  background-image: url('../assets/Vector.png');
}

.img-2 {
  height: 136px;
  background-image: url('../assets/Vector-1.png');
}

.box {
  max-width: 90%;
  height: 477px;
  border-radius: 19px;
  text-align: center;
  justify-content: center;
}

.box-1 {
  background: linear-gradient(#DEF5FF, #FFFFFF 100px);
  border: 1px solid #DEF5FF;
  margin-right: 30px;
}

.box-2 {
  background: linear-gradient(#FFF4DC, #FFFFFF 100px);
  border: 1px solid #FFF4DC;
  margin-right: 30px;
}

.box-3 {
  background: linear-gradient(#F2E8FF, #FFFFFF 100px);
  border: 1px solid #F2E8FF;
}

.box-content {
  margin: 50px 20px;
}

.heading-3 {
  font-size: 2.875rem;
  font-weight: 700;
  margin-bottom: 50px;
}

.heading-4 {
  margin-top: 30px;
  font-size: 1.5rem;
  font-weight: 700;
}

.paragraph-2 {
  margin-top: 30px;
  line-height: 28px;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 40px;
}

.btn-3 {
  font-size: 1rem;
  font-weight: 700;
}

.button-1 {
  color: #64C8FF;
}

.button-2 {
  color: #F0AA00;
}

.button-3 {
  color: #8700FF;
}


.angle {
  margin-top: 80px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

.angle-left {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #FEA301;
}

.angle-left:hover {
  background-color: #000000;
}

.angle-right {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #FEA301;
}

.angle-right:hover {
  background-color: #000000;
}

.solid {
  margin: 15px 20px;
  color: #fff;
  font-size: 30px;
}

/* Start Our Stories Section */

.stories {
  background: linear-gradient(#FFFFFF, rgb(252, 228, 187) 400px);
}

.stories-container {
  width: 100%;
  height: 1018px;
  background-image: url('../assets/bg.png');
}

.headings-1 {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 80px;
}

.heading-5 {
  font-size: 2.875rem;
  font-weight: 700;
}

.first {
  width: 540px;
  height: 630px;
  background-color: #FFFFFF;
  border-radius: 16px;
}

.btn-4 {
  padding: 14px 20px;
  color: #FFFFFF;
  background-color: #3CD8E8;
  border: none;
  border-radius: 48px;
}

.button-4 {
  margin-left: 35px;
  margin-top: -25px;
}

.heading-6 {
  margin-top: 40px;
  margin-left: 38px;
  margin-bottom: 50px;
  font-size: 1.6rem;
  font-weight: 700;
}

.paragraph-3 {
  margin-left: 38px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 28px;
}

.total {
  display: flex;
  gap: 20px;
}

.second {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.box-5 {
  /* width: 290px; */
  height: 300px;
  background-color: #FFFFFF;
  border-radius: 16px;
}

.boxx {
  display: none;
}

.btn-5 {
  padding: 14px 20px;
  color: #FFFFFF;
  border: none;
  border-radius: 48px;
}

.btn-color-1 {
  background-color: #95B226;
}

.btn-color-2 {
  background-color: #5D58F0;
}

.button-5 {
  margin-left: 35px;
  margin-top: -25px;
}

.heading-7 {
  font-size: 1rem;
  font-weight: 700;
  margin-left: 38px;
  margin-right: 38px;
  margin-top: 20px;
}

.img-border {
  border-radius: 15px 15px 0 0;
}

.button-6 {
  text-align: center;
  margin-top: 88px;
}

.btn-6 {
  text-align: center;
  background-color: #000000;
  color: #FFFFFF;
  padding: 15px 60px;
  border-radius: 12px;
  font-size: 1.25rem;
  font-weight: 700;
  border: none;
}

.btn-6:hover{
  background-color: #FEA301;
}

/* Start Footer Section */

.footer {
  width: 100%;
  height: 550px;
  background-color: #01ACFD;
}

.footer-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 187px;
}

.footer-first {
  display: flex;
  align-items: center;
}

.footer-content-1 {
  margin: 148px 0;
}

.heading-8 {
  color: #FFFFFF;
  font-size: 2.625rem;
  font-weight: 700;
}

.paragraph-4 {
  color: #FFFFFF;
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: 38px;
}

.heading-9 {
  color: #FFFFFF;
  font-size: 1.5rem;
  font-weight: 700;
}

.link-item ul,
li {
  display: block;
  list-style: none;
}

.link-item ul li:first-child a {
  font-weight: 500;
}

.link-item ul {
  margin-top: 32px;
}

.link-item li {
  margin-top: 20px;
}

.link-item ul,
li,
a {
  margin-top: px;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1.25rem;
  font-weight: 500;
}

.heading-10 {
  color: #FFFFFF;
  font-size: 1.625rem;
  font-weight: 700;
  margin-top: -115px;
}

.icons {
  margin-top: 20px;
}



















/* Responsive For Mobile */

@media screen and (max-width: 576px) {

  .heading-1,
  .nav-links,
  .btn-1 {
    display: none;
  }

  .navber {
    margin: 12px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-logo {
    max-width: 42px;
    height: 42px;
  }

  .bars {
    display: block;
    font-size: 1.5rem;
  }

  .hr {
    display: block;
  }

  /* Banner Section */

  .banner-container {
    flex-direction: column-reverse;
    width: 100%;
  }

  .banner-items {
    text-align: center;
    margin-right: 0;
  }

  .heading-2 {
    font-size: 2rem;
    line-height: 40px;
    margin-top: 25px;
  }

  .paragraph-1 {
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .br1 {
    display: block;
  }

  .br2 {
    display: none;
  }

  .btn-2 {
    padding: 6px 24px;
    border-radius: 8px;
  }

  .image {
    text-align: center;
  }

  .img-1 {
    max-width: 100%;
  }


  /* Standard Curriculum Section */

  .curriculum-container {
    width: 100%;
  }

  .box {
    width: 100%;
  }

  .heading-3 {
    font-size: 1.625rem;
    margin-bottom: 20px;
  }

  .box {
    margin-top: 20px;
  }

  .box-1 {
    margin-right: 0;
  }

  .box-2 {
    margin-right: 0;
  }

  .box-container {
    flex-direction: column;
    width: 100%;
  }

  .angle {
    display: none;
  }

  /* stories section */

  .stories {
    background: linear-gradient(#FFFFFF 400px, rgb(255, 234, 199) 900px);
  }

  .stories-container {
    height: 1300px;
    width: 100%;
  }

  .stories {
    margin-top: 160%;
  }

  .total {
    width: 100%;
  }

  .second {
    margin: 20px;
  }

  .image-res {
    width: 100%;
  }

  .box-5 {
    max-width: 100%;
  }

  .boxx {
    display: block;
  }

  .first {
    display: none;
  }

  .button-6 {
    margin-top: 40px;
  }

  /*  */

  .footer {
    height: 100%;
    max-width: 100%;
  }

  .footer-area {
    flex-direction: column;
    margin: 0 0;
  }

  .footer-content-1 {
    margin: 0 0;
    margin-top: 30px;
    margin-left: -150px;
  }

  .footer-first {
    margin-left: -10px;
  }

  .footer-content-2 {
    margin-top: 30px;
    margin-left: -360px;
  }

  .footer-content-3 {
    margin-top: 150px;
    margin-left: -330px;
  }

}