* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", serif;
}

/* Shared Styles */

.fixed-size{
  width: 1160px;
  margin: 0 auto;
}

.black{
  color: #111111;
}
.orange{
  color: #FEA301;
}
.sky-blue{
  color: #01ACFD;
}
.cyan{
  color: #05D4DF;
}
.blue-medium{
  color: #5D58EF;
}

/* Start Header Sectiontart */

.navber{
  margin-top: 20px;
}

.nav-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  display: flex;
  align-items: center;
}

.heading-1{
  color: #111111;
  font-size: 2rem;
  font-weight: 700;
}

.nav-links, ul, li {
  display: flex;
  gap: 32px;
}

ul, li{
  list-style: none;
}

ul, li:first-child a{
  font-weight: 700;
}

ul, li, a{
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 500;
}

.btn-1{
  color: #FFFFFF;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 10px 60px;
  border-radius: 12px;
  border: none;
  background-color: #FEA301;
}

.bars{
  display: none;
}

.hr{
  display: none;
}

/* Start Banner Section */

.banner{
  margin-top: 20px;
  margin-bottom: 30px;
}

.banner-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-items{
  margin-right: 50px;
}

.heading-2{
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 60px;
}

.paragraph-1{
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: 24px;
}
.br1{
  display: none;
}
.btn-2{
  color: #FFFFFF;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 10px 60px;
  border-radius: 12px;
  border: none;
  background-color: #111111;
  margin-top: 24px;
}


/* Responsive For Mobile */

@media screen and (max-width: 576px) {
  .heading-1,
  .nav-links,
  .btn-1{
    display: none;
  }
  .navber{
    margin: 12px 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .main-logo{
    width: 42px;
    height: 42px;
  }
 .bars{
  display: block;
  font-size: 1.25rem;
 }
 .hr{
  display: block;
}

/* Banner Section */

.banner-container{
  flex-direction: column;
  width: 100%;
}
.banner-items{
  order: 1;
  text-align: center;
  margin-right: 0;
}
.heading-2{
  font-size: 2rem;
  line-height: 40px;
}
.paragraph-1{
  font-size: 0.875rem;
  font-weight: 500;
}
.br1{
  display: block;
}
.br2{
  display: none;
}
.btn-2{
  padding: 6px 24px;
  border-radius: 8px;
}
.image{
  width: 100%;
  text-align: center;
}
  
}